
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
img{
  user-select: none;
  pointer-events: none;
}
body{
  height: 100%;
}
#root{
  height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr 100px;
}

.circle{
  background-color: #8181FF;
  height: 60px;
  opacity: 0.5;
  left: 30%;
  position: absolute;
  width: 60px;
  border-radius: 50%;
}
.circle:nth-child(1){
  top: 20%;
  left: 80%;
  opacity: 1;
}
.circle:nth-child(2){
  left: 20%;
  top: 50%;
  width: 200px;
  height: 200px;
  opacity: 0.9;
}
.circle:nth-child(3){
  width: 90px;
  height: 90px;
  opacity: 0.8;
  top: 44%;
  left: 75%;
}
.animeLeft{
  transform: translateX(-30px);
  opacity:0;
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft{
  to{
    transform: initial;
    opacity: initial;
  }
}
